<form action="{{ action }}" method="post">
  <input type="hidden" name="testMode" value="{{ test }}">
  <input type="hidden" name="instId" value="{{ merchant }}" />
  <input type="hidden" name="cartId" value="{{ cartId }}" />
  <input type="hidden" name="amount" value="{{ amount }}" />
  <input type="hidden" name="currency" value="{{ currency }}" />
  <input type="hidden" name="desc" value="{{ desc }}" />
  <input type="hidden" name="name" value="{{ name }}" />
  <input type="hidden" name="address" value="{{ address }}" />
  <input type="hidden" name="postcode" value="{{ postcode }}" />
  <input type="hidden" name="country" value="{{ country }}" />
  <input type="hidden" name="tel" value="{{ telephone }}" />
  <input type="hidden" name="email" value="{{ email }}" />
  <input type="hidden" name="signature" value="{{ signature }}">
  <input type="hidden" name="signatureFields" value="{{ signature_fields }}">
  <input type="hidden" name="MC_callback" value="{{ callback }}">
  
  <div class="buttons">
    <div class="pull-right">
      <input type="submit" value="{{ button_confirm }}" class="btn btn-primary" />
    </div>
  </div>
</form>
